@tailwind base;
@tailwind components;
@tailwind utilities;

inputField{
  padding: 10px 10px;
  width: 70%;
  text-align: center;
}
.inputFieldToken{
  padding: 10px 10px;
  width: 30%;
  margin-top: 20px;
  text-align: center;
}
.connect{
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
}
.exicute{
  padding: 10px 20px;
  border: none;
  background-color: #1b351c;
  color: #fff;
  border-radius: 3px;
  margin-top: 20px;
  margin-right: 10px;
}
.error{
  color: red;
  font-size: 12px;
}
.success{
  color: green;
  font-size: 12px;
}
.create-address {
  display: inherit;
  width: auto;
  margin: 0 auto;
  border: 1px dashed;
  padding: 40px;
  margin-top: 30px;
}
.create-address span{
  display: inline-block;
  color: red;
}